#chamado_view
{
    position: absolute;
    left: 100%;
    right: -100%;
    -webkit-transition: all .4s ease-in-out;
    overflow: hidden;
}

#chamado_view.in
{
    left: 0;
    right: 0;
}

#chamados_view
{
    position: absolute;
    right: 0; left: 0;
    -webkit-transition: all .4s ease-in-out;
    overflow: hidden;
}

#chamados_view.out
{
    left: 100%;
    right: -100%;
}
