.comment_item
{
    background: #fff;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
}

.comment_user_name
{
    font-weight: bold;
    font-size: 9pt;
}

.comments_list
{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .comments_list > li
    {
        margin-bottom: 8px;
    }

.comment_description
{
    margin-top: 4px;
}

#new_comment_wrapper
{
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
}

#new_comment_description_wrapper
{
    padding: 8px;
}

#new_comment_description
{
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    width: 100%;
}

    #new_comment_description:focus
    {
        outline: none;
    }

#new_comment_options_wrapper
{
    background: #f9f9f9;
    padding: 8px;
    border-top: 1px solid #f5f5f5;
}